/* RESPONSIVE CSS */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .row.py-2 {
        justify-content: center;
    }
    .navbar{
        padding: 0 !important;
    }
    /*.section-heading::after {
    left: 38% !important;
    }*/
}

@media only screen
and (min-width : 321px) {
    .row.py-2 {
        justify-content: center;
    }
}

@media only screen
and (max-width : 320px) {
 .catagories{
     margin: 30px 0;
 }
 .row.py-2 {
    justify-content: center;
}
}
 
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    .row.py-2 {
        justify-content: center;
    }
    .iboder{
        display: none;
    }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    #main  h1 {
        font-size: 25px;
    }

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

}

@media only screen
and (min-width : 1224px) {

}

@media only screen
and (min-width : 1824px) {

}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
/* STYLES GO HERE */
}
 
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {

}
 
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {

}